__pycache__
*.so
*.a
*.dot
*.zip
*.log
*.pkl
*.xlsx

.idea
.claude
.codex
venv
.venv
.env
characterization/data
api_key.sh

src/ToG-cache/Freebase/FilterFreebase*
src/ToG-cache/Freebase/freebase*
src/ToG-cache/Freebase/WebQSP_FilterFreebase*