[submodule "datasets/complex-web-questions-dataset"]
	path = datasets/complex-web-questions-dataset
	url = git@github.com:yuancu/complex-web-questions-dataset.git
[submodule "subKGs/EPR-KGQA"]
	path = subKGs/EPR-KGQA
	url = git@github.com:nju-websoft/EPR-KGQA.git
[submodule "subKGs/KG-R1"]
	path = subKGs/KG-R1
	url = git@github.com:Jinyeop3110/KG-R1.git
